@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px)
{
.navbar.jsx-4086112026 {
    position: relative;
}
.navbar.jsx-4086112026 {
    background: white;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}
.navbar, .navbar>.container, .navbar>.container-fluid {
    display: -moz-box;
    display: flex;
    flex-wrap: wrap;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.navbar {
    position: relative;
    padding: 0.5rem 1rem;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
}