.grid2{
    display: flex;
    gap: 1rem;
    margin-left: -15px;
    width: auto;
}

.grid2-column {
    padding-left: 15px;
    background-clip: padding-box;
}

.grid-item.jsx-734377039 {
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 5px;
    display: block;
    position: relative;
    height: auto;
}

img.jsx-734377039 {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease 0s;
}

.overlay.jsx-734377039 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    opacity: 0;
}

.overlay-titles.jsx-734377039 {
    text-align: center;
    margin-top: 20%;
    font-family: "League Spartan", sans-serif;
    color: rgb(255, 255, 255);
}

.overlay-title.jsx-734377039 {
    font-size: 1.8rem;
    font-weight: 600;
}

@media (min-width: 769px){
.grid-item.jsx-734377039:hover img.jsx-734377039 {
    transform: scale(1.15) rotateZ(2deg);
}
.overlay.jsx-734377039:hover {
    opacity: 1;
}
}
